#allbrands {
  padding: 65px 5px 5px 5px;
}

.brand-card {
  width: 250px;
  padding-top: 15px;
  text-align: center;
  height: 140px;
  border-radius: 3px;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.brand-card:hover {
  background-color: firebrick;
  color: aliceblue;
  margin: 5px;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.2);
}

.all-brands-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
