#review {
  padding: 65px 5px 5px 5px;
}

.latest-wrapper,
.brand-device {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.bar {
  display: flex;
  padding: 0 10px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: relative;
  background-color: aquamarine;
}

.brand-chevron {
  position: absolute;
  right: 20px;
  top: 35%;
}
.sub-brand {
  padding: 5px;
  width: 200px;
  background-color: bisque;
  height: 200px;
  display: none;
  overflow-y: scroll;
}
.sub-brand::-webkit-scrollbar {
  width: 10px;
}

.sub-brand::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 5px;
}
.sub-brand::-webkit-scrollbar-thumb:hover {
  background-color: firebrick;
}

.sub-brand::-webkit-scrollbar-track {
  background-color: #ddd;
}

.brand-name {
  width: 100%;
  padding: 5px 10px;
  line-height: 1.5;
}

.brand-name:nth-child(even) {
  background-color: #ddd;
}

.link-wrapper {
  width: 100%;
  padding: 1px;
}

@media (max-width: 1080px) {
}
@media (max-width: 855px) {
}
