#create-post {
  padding: 65px 5px 5px 5px;
  box-sizing: border-box;
}

.input-area {
  display: flex;
}

.create-btn-wrapper {
  text-align: right;
  padding: 20px 50px;
}
.create-post-title {
  text-align: center;
  color: white;
  padding: 5px;
  background-color: firebrick;
}

.row {
  margin: 10px 20px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 3px;
  width: 95%;
}

.spec-title {
  background-color: firebrick;
}
