#create-article {
  padding: 65px 5px 5px 5px;
}
.create-article-title {
  text-align: center;
  background-color: firebrick;
  color: white;
  padding: 10px 5px 5px 5px;
  margin: 10px;
}

.article-input {
  display: flex;
  max-width: 900px;
  line-height: 60px;
  padding: 10px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.create-article-wrapper {
  margin-left: 50px;
  padding: 10px;
  text-align: center;
}
